<body class="text-center" *ngIf="translateKeys.keys != null">
  <main class="form-signin">
    <form [formGroup]="registerForm">
      <h1 class="h3 mb-3 fw-normal">
        {{ translateKeys.keys.Sign_Up_Title_Key }}
      </h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="{{ translateKeys.keys.Placeholder_Name_Key }}"
          formControlName="firstName"
        />
        <label for="floatingInput">{{
          translateKeys.keys.Placeholder_Name_Key
        }}</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="{{ translateKeys.keys.Placeholder_Surname_Key }}"
          formControlName="lastName"
        />
        <label for="floatingInput">{{
          translateKeys.keys.Placeholder_Surname_Key
        }}</label>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="{{ translateKeys.keys.Placeholder_Email_Key }}"
          formControlName="email"
        />
        <label for="floatingInput">{{
          translateKeys.keys.Placeholder_Email_Key
        }}</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="{{ translateKeys.keys.Placeholder_Password_Key }}"
          formControlName="password"
        />
        <label for="floatingPassword">{{
          translateKeys.keys.Placeholder_Password_Key
        }}</label>
      </div>

      <button
        (click)="register()"
        class="w-100 btn btn-lg btn-primary"
        type="submit"
      >
        {{ translateKeys.keys.Sign_Up_Title_Key }}
      </button>
    </form>
  </main>
</body>
